<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <AppContextSwitchOverrides value="
      Switch.Microsoft.Data.SqlClient.UseManagedNetworkingOnWindows=true" />
  </runtime>
  <appSettings>
    <add key="RetryCount" value="5"/>
    <add key="DelayBetweenPages" value="0"/>
    <add key="PageSize" value="100"/>
    <add key="BatchSize" value="100"/>
  </appSettings>
  <!--<system.diagnostics>
    <trace autoflush="true"/>
  </system.diagnostics>-->
</configuration>
